{% set blocks = entry.pageBuilder.all() %}

{% for block in blocks %}
    <div {{ craft.previewMate.previewBlock(block) }}>
        {{ block.render() }}
    </div>
{% endfor %}

{# css to highlight the preview block in live preview when hovering #}
{% css %}
    [data-preview-block-id] {
        position: relative;
    }
    [data-preview-block-id]::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px dashed rgba(0, 0, 0, .333);
        pointer-events: none;
        opacity: 0;
        transition: opacity 300ms ease;
    }
    [data-preview-block-id].preview-block-hover::after {
        opacity: 1;
    }
{% endcss %}