{% extends "_layouts/base" %}

{% block page %}

    <main id="main">
        <header class="p-4">
            <span class="font-medium text-lg text-gray-800">Preview Mate</span>
        </header>
        {% block content %}{% endblock %}
    </main>

{% endblock %}